Options +MultiViews

RedirectMatch 301 /en/resume(.*) /resume$1
RedirectMatch 301 /en/about(.*) /about$1
RedirectMatch 301 /en/contact(.*) /contact$1
RedirectMatch 301 /en/blog(.*) $1
RedirectMatch 301 /pt-BR/resume(.*) /resume$1
RedirectMatch 301 /pt-BR/about(.*) /about$1
RedirectMatch 301 /pt-BR/contact(.*) /contact$1
RedirectMatch 301 /pt-BR/blog(.*) $1
