---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include topbar.html %}
    <main class="content">
      <article class="post">
          <header>
            <a href="{{ page.url }}">
              <h1>{{ page.title }}</h1>
            </a>
            <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
          </header>
          <section class="post-content">
            {{ content }}
          </section>
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
          <section class="post-author">
              <span>Written by</span>
              <h4>{{ site.author }}</h4>
          </section>
      </article>
      {% include back_beginning.html %}
    </main>
    {% include footer.html %}
  </body>
</html>
